.header {
    text-align: center;
}

.quote {
    word-wrap: break-word;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.quote-wrapper {
    margin:auto;
    width: 20%;
}

#quote-box {
    margin: auto;
    width: 30em;
}

