.navigation {
    background-color: #222;
  }
  
  .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
  
    display: flex;
    justify-content: center;
  }
  
  .navigation-list-item {
    margin: 10px 20px;
  }