#submit-box {

}

.submit-box-wrapper {
    position: relative;
}

#submit-box {
    width: 35em;
    margin-left: auto;
    margin-right: auto!important;
}

.container-home {

}

.background-wrapper {
    height: 100vh;
}

.background-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), 
    url('../../assets/henry-co-tuNGv69BFmM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.logo-jumbotron {
    display: block;
    cursor: pointer;
    transform: rotate(-15deg);
    filter: invert(100%);
    width: 20em;
    padding: 5em 0em;
    margin-left: auto;
    margin-right: auto;
}
